<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>222222</title>
</head>
<script src="../lib/vue.js"></script>
<link rel="stylesheet" href="../lib/bootstrap.css"/>
<script src="../lib/vue-resource.js"></script>
<body>
    <div id="t_0">
        <div class="panel-body form-inline">
            <label>
                Id: <input type="number" class="form-control" v-model="id"/>
            </label>
            <label>
                Name: <input type="text" class="form-control" v-model="name" @keyup.f2="add"/>

                <button @keyup.f2="f2t" class="btn btn-success">aa</button>
                <!--.enter 只有当enter按下抬起才会被触发 ;.113 是f2键 -->
             </label>
             <button class="btn btn-success" @click="add">插入</button>
             <label>
                    搜寻关键字: <input type="text" class="form-control" v-model="key" v-focus="'xia_xin'" />
                    <!--v-focus 自定义指令-->
             </label>   
        </div>

        <table class="table table-hover">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Time</th>
                <th>Edit</th>
            </tr>
            <tr v-for="item in query()" :key="item.id">  <!--一定要加() ;遍历方法的返回值-->
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.time | dateformat }}</td> <!--过滤器-->
                <td>
                     <button class="btn btn-success">编辑</button>
                     <button class="btn btn-success" @click="del(item.id)">删除</button>
                </td>
            </tr>
        </table>
    </div>

    <div id="t_1">
            Outnumbered both ways Part#2 4 girls vs 6 boys with Tina Kay . Scyley Jam Anna Rey Bree Haze DAP orgy GIO445  
            <div>
              <h2> {{msg | aaa1("lo","ve") | aaa2()}} </h2> <!--使用过滤器 字符 | 过滤器名称(参数) | 另一个过滤器-->
              <h2> {{msg | qqq("//////") | aaa2() }} </h2> 
              <h2> {{msg | abc }} </h2>
            </div>
            <div v-te_ang>

            </div>
            <div te_bng>

            </div>
    </div>


    <div id="app">
       
    </div>

    <div id="ajax_id">
        <button class="btn btn-success" @click="ajax_get">ajax_get</button>
        <button class="btn btn-success" @click="ajax_post">ajax_post</button>
        <button class="btn btn-success" @click="ajax_jsonp">ajax_jsonp</button>
        {{msg}}
    </div>

</body>
<script>
    Vue.filter("dateformat",(msg) =>{   //对字符进行全局过滤器 必须定义在vm之前 
        var date = new Date(msg);
        var year = date.getFullYear();
        var moner = date.getMonth();
         var day = date.getDay();

  return `${year}-${moner}-${day}`;
});

    Vue.config.keyCodes.f2 = 113;  //自定义全局按键修饰符

    Vue.directive("focus",{   //自定义指令不需要加前缀-v ,调用需加 (必须定义在vm之前)
        bind:(el,binding) => {    //绑定到指定元素的时候,立即执行,只执行一次;
                            //el表示被绑定了指令的那个元素;
            console.log(binding.value);  // xia_xin
            console.log(binding.expression); //'xia_xin'
            console.log(el);

            alert(123);
        },
        inserted:(el,binding) =>{  //插入dom的时候会执行,只执行一次;

            el.focus();
            console.log("insert")

            el.style.color = "red";
        },
        updated: (el,binding) =>{ //更新时会执行,可以触发多次


            console.log("update")
        }
    })  
   

    var vm_0 = new Vue({
        el:"#t_0",
        data:{
            list:[
                {id:1,name:"Andior",time:new Date()},
                {id:2,name:"Apple",time:new Date()},
                {id:3,name:"Window",time:new Date()}
            ],
        id:null,
        name:null,
        key:null,
        },
        methods:{
            add(){
                if(this.id && this.name) {
                    var t_obj = {id:this.id,name:this.name,time:new Date()};
                    this.list.push(t_obj);
                    this.id = this.name=null;
                }else{
                    alert("mei you 输入");
                }
            },
            f2t(){
                alert("aa");
            },
            del(id){
                if(id){
                    // this.list.some((item,i) => {  //some 循环数组
                    //     if (item.id == id){
                    //         this.list.splice(i,1); //splice 从哪开始移除 ,移除几个
                    //         return true;  //返回true ,结束循环
                    //     }
                    // })

                var index = this.list.findIndex((item) => {
                    if (item.id == id){
                        return true;
                    }

                })
                this.list.splice(index,1);
                }
            },
            query(){
                if(this.key){
                   // var listen_t = [];
                    // this.list.forEach((item) => {
                    //     if(item.name.indexOf(this.key)!=-1){
                    //         listen_t.push(item);
                    //     }
                    // });
                  //  return listen_t;
                       var fil =  this.list.filter((item) =>{
                            if(item.name.includes(this.key)){  //包含字符串
                                return item;
                            }
                       });
                    return fil;
                }else{
                    return this.list;
                }
            }
        }
    });
///////////////////////////////////////////////////////////////////////////////////////////////////////

Vue.filter("aaa1",(msg,parmes,parmes1="") =>{  //定义过滤器; 对字符进行全局过滤器 必须定义在vm之前 
        return msg;                            //对参数进行默认处理
      return msg.replace(/fuck\b/g,parmes+parmes1);
    })
    
    Vue.filter("aaa2",(msg) =>{  
      return msg+"sdasdasd:::::::";
    })

    Vue.filter("abc",(msg) => {
       return msg.padStart(20,"^");  //字符串补位 20总长度 ^补位字符
    })

 
    var vm_1 = new Vue({
        el:"#t_1",
        data:{
            msg:"fuck you mother",
        },
        methods:{

        },
        filters:{    //私有过滤器 ,和全局同名 调用私有
            qqq(msg,parmes){
                return msg+parmes;
            }
        },
        directives:{  //私有指令
           te_ang:{
               bind(el,binding){
                console.log("aaaaaaaaaaaa");
               },
           },
           te_bng:function (el,binding){  //简写 ,只修改bind和updated的方法
            console.log("bbbbbbbbbbbb");
           },
        }
    });

    var vm_life = new Vue({
        el:"#app",
        data:{
            msg:"tongku",
        },
        methods:{
            show(){
              //  alert("a");
            },
        },
        beforeCreate() {  //生命周期函数,在vue对象初始化之前会执行; 无法使用this.
            //alert(this.msg);
        },
        created() {
           // alert(this.msg);  // 初始化属性和方法;
            this.show();
        },
        beforeMount() {  //模板已经编译完成,尚未渲染到页面中;
            
        },
        mouted(){  //已经挂载到页面中了,用户可以看到页面了;
            
        },

        beforeUpdate() { //数据更新了,界面更新之前;
            
        },
        updated(){  //页面也更新了

        },
        beforeDestroy() { //进入消耗阶段,data,methods..任然可用
            
        },
        Destroy(){  //data,methods不可用了;

        }
    });

    var vm_ajax = new Vue({
        el:"#ajax_id",
        data:{
            msg:null,
        },
        methods:{
            ajax_get(){
                this.$http.get("http://127.0.0.1:2500/").then((result) =>{

                  this.msg=result;  //成功方法;


                },

                (result) =>{
                 this.msg=result;   //失败方法;
                });

            },
            ajax_post(){
                this.$http.post("http://127.0.0.1:2500/", {} ,{emulateJSON : true})
                .then((result) =>{
                    this.msg=result.body;
                });
            },

            ajax_jsonp(){
                this.$http.jsonp("http://127.0.0.1:2500/callback=show").then((result) =>{

                    alert("success");
                    this.msg=result;

                },(result) =>{

                    alert("defeat");

                    this.msg=result;
                });
            }
        }
    });

    function show() {
        alert("xiapeixin")
    }

</script>
</html>