<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue 基本</title>
</head>
<script src="../../express-ciel/public/vue.js"></script>
<style>
    [v-cloak]{
        display: node;
    }
    .ni{
       background-color:brown;
    }
    .ma{
        font-size: 22px;
    }
    .bi{
        color:cyan;
    }
</style>
<body>
    <div id="aaa" v-cloak> <!--v-cloak解决闪烁问题-->
        {{msg}} ++++  <!--直接引用data上的属性 , 不需要data. 这个就是V-->
        <h1 v-text="msg"> <a>a</a> aa </h1>  <!--v-text没有闪烁问题,替换掉子标签或文本;{{}}则不会-->

        <div v-html="msg2"> <!--v-htm解析 html标签,也会清空-->
              撒旦发射点发射点发射点发
        </div>
            <input type="button" value="确认" v-bind:titleMY="mytitle" v-on:click="fuck_rol"/>
            <!--v-bind: 绑定属性,titleMY应该使用一个变量(mytitle)的值 ;(可以只写一个:)-->
            <input type="button" value="确认" :titleMY="mytitle" @click="fuck_rol()"/>
            <!--v-on: 绑定事件 (可以只写一个@) ,可以加小括号 ,然后传参数-->
         </div>
    <hr/>
         <div id="test_a">   
              {{msg1}}
             <input type="button" value="开始浪" @click="start_la()"/>
             <input type="button" value="猥琐"  @click="stop_la"/>
         </div>
    <hr/>


  <div id="test_b">

        <div @click.capture="a1">
            <!--.capture 捕获子类事件,.stop冲突-->
            <button type="button" value="herd it" @click.stop="a2"> 捕获子类事件</button>
            <!--.stop 阻止父类冒泡事件-->
            <video height="70" width="200"></video>
        </div>


        <a href="http://127.0.0.1" @click.prevent="a3"> 阻止默认事件 </a>
        <!--prevent 阻止默认事件 a连接跳转-->

        <div @click.capture.self="a4"> 
            <!--.self点击自身时才会触发 ,无法通过冒泡触发, 只会阻止自身,无法阻止父类的冒泡,-->
            <button type="button" value="2222" @click="a5">点击自身时才会触发</button>
                <video height="70" width="200"></video>
        </div>


     <button @click.once.prevent="a3"> 只会触发一次</button>
            <!--.once 只会触发一次 顺序没有关系-->
  </div>


  <hr/>
    <div id="test_c">
        <input type="text" v-model:value="msg"/>
        <input type="text" v-model="msg"/>
        <!--v-model 数据双向绑定 只能用于表单组件-->
    </div>
    <hr/>


    <div id="test_d">
       <h5 :class="['ni','ma',flag?'bi':'']">plmokn7777777777777</h5>
       <!--通过 绑定传递一个数组,设置class;也可以用三元表达式判断-->
       <h5 :class="['ni','ma',{bi:flag}]">plmokn</h5>

       <h5 :class="{ni:true,ma:true,bi:flag}">55555555555555</h5>

       <h5 :class="obj">9999</h5>

       <h5 :style="{color: 'red'}">7777777777</h5>
       <h5 :style="[o1,o2]">66666666666</h5>
    </div>

    <hr/>


    <div id="test_e">
        <div v-for="(item,i) in list">
              {{i}}  {{item}}
        </div>



        <div v-for="(item,i) in list1" :key="item.id" :i="i"> <!--:key 指定唯一的约束 -->
                 {{i}}  {{item.id}} {{item.name}}
        </div>
        <hr/>


        <div v-for="(val,key) in list2"> <!--对象的属性-->
                {{val}}  {{key}}
         </div>


         <div>{{list2.name}}</div>  

         <div v-for="i in 5">  <!--从1开始-->
                    {{i}}
             </div>

           <div>
                <h3 v-if="flag1">这是v-if控制的</h3>  <!--为false移除-->
                <h3 v-show="flag1">这是v-show控制的</h3> <!--为false 隐藏-->
          </div>

          <button @click="ttt">qqqqqqq</button>
    </div>

    

</body>
<script>
    //导入vue后 ,就有一个Vue构造函数, 这个对象就是vm 调度者
    var vm = new Vue({      
        el:"#aaa", //要控制页面上哪一个区域(标签), 数据只能放到这个标签的子标签中才会解释
        data:{      //el 中要用到的数据 ;data 就是m ;
            msg:"夏培鑫",
            msg2:"<h1> Java Thread</h1>",
            mytitle:"My_Title_Config"
           // fuck_rol:() => alert("hello")
        },
        methods:{
            fuck_rol:() =>alert("world"), //方法一般写在methods里;
        }
    });

    var vm1 = new Vue({
        el:"#test_a",
        data:{
            msg1:"浅樱夏完成5杀",
            id:null
        },
        methods:{
            start_la(){     //简略写法; 
                if (this.id)  {
                    return;
                }else{
                this.id = setInterval(() =>{    //定时器; 箭头函数中的this指的是外部的this;
                    var s_t = this.msg1.substring(0,1);
                    var e_n = this.msg1.substring(1);
                    this.msg1 = e_n+s_t;
                },400)
            }     
            },
            stop_la(){
                clearInterval(this.id); 
                this.id=null;
            }
        }
    });


   var vm2 = new Vue({
       el:"#test_b",
       data:{
       },
       methods:{
            a1(){
                alert("div");
            },
            a2(){
                alert("button");
            },
            a3(){
                alert("a tag");
            },
            a4(){
                alert("444444");
            },
            a5(){
                alert("555555555");
            },
       }    
   });

   var vm_c = new Vue({
        el:"#test_c",
        data:{
            msg:"xiapeixin",
        },
        methods:{

        }
   });


   var vm_d = new Vue({
        el:"#test_d",
        data:{
           flag:true,
           obj:{ni:true,ma:true,bi:true},
           o1:{color:"red"},
           o2:{"font-size":"30px"}
        },
        methods:{

        }
   });

   var vm_e = new Vue({
        el:"#test_e",
        data:{
            list:["s","d","dsf","df"],
            list1:[
                {id:15,name:"ciel"}, 
                {id:27,name:"swift"},
                {id:31,name:"join"}  //push({,})  添加 unshift({}) 头部添加
            ],
            list2:{id:38,name:"tttt",age:41},
            flag1:true,
        },
        methods:{
            ttt: function(){
                // this.list1.map((v,k) => {
                //     console.log(v.name="gggg");
                //     //console.log(k);
                // });

                this.list1.forEach((v,i) => {
                    console.log(v.name="gggg");
                });
            }
        }
    
   });

</script>
</html>